@model CheckerBoard.Models.HomeModel

<html>

    <head>
        <title>@Model.PageTitle</title>
        <link href="~/Styles/Home.css" rel="stylesheet" />
    </head>

    <body>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
            <script src="~/Scripts/Home.js"></script>


            <div class="text">
                <aside><p>This game is extremely glitchy.  I've spent like 4 days on this assignment and can't get it to work.
                    I don't have a right to complain because I did not use my time wisely the first three weeks.  
                    Will you release the solution to this game?  I'm really curious as to how it works.
                </p></aside>
            </div>
            <div class="home">
            
                <div class="board">
                    <div class="row">
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                    </div>
                    <div class="row">
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                        <div class="cell piece red"></div>
                    </div>
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                    </div>
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                    </div>
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                    </div>
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                    </div>
                    <div class="row">
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                    </div>
                    <div class="row">
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                        <div class="cell piece black"></div>
                    </div>
                </div>

            </div>

    </body>

</html>